

<div class="content">
    <div >
      <div *ngFor="let ref of referees | paginate: 
      { itemsPerPage: 4, 
        currentPage: p }">
        <mat-card class="mat-elevation-z4" >
          <mat-card-header>
            <mat-card-title>{{ref.refName}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{ref.refUrl}}" width="200" height="200">
          <mat-card-content>
            <p>
              NO of matches participated : {{ref.noofMatches}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="deleteReferee(ref.id)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-fab color="primary" aria-label="Example icon button with a update icon" (click)="updateReferee(ref.id)">
              <mat-icon color="red">update</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    </div>
    <pagination-controls 
    (pageChange)="p = $event" 
    class="float-right">
    </pagination-controls>