<!DOCTYPE html>
<html lang="en">

<body>

    <nav class="navbar navbar-expand-lg" style="background-color: #C5D8A4;">
        <a class="navbar-brand" routerLink="/admin/course"
            style="padding-left: 10px; margin-left: 30px; color: #d3bd12;">YogaAcademy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="justify-content:space-around">
            <ul class="navbar-nav">
                <li class="nav-item active"
                    style="padding: 0px 20px 0px 25px; color: #d3bd12; border-bottom: 2px solid #d3bd12 ;">
                    <a class="nav-link" href="/admin/referee" style="color: #d3bd12;">Referee</a>
                </li>
                <li class="nav-item" style="padding: 0px 50px 0px 25px;">
                    <a class="nav-link" href="/admin/team" style="color: #d3bd12;">Teams</a>
                </li>
                <li class="nav-item" style="padding: 0px 50px 0px 25px;">
                    <a class="nav-link" href="/admin/Venue" style="color: #d3bd12;">Venues</a>
                </li>
                <li class="nav-item" style="padding: 0px 50px 0px 25px;">
                    <a class="nav-link" href="/admin/customer" style="color: #d3bd12;">Users</a>
                </li>

                <li class="nav-item" style="margin-left: 100pt; padding: 0px 50px 0px 100px;">
                    <a class="nav-link" (click)="logout()"
                        style="cursor: pointer;color: #d3bd12; margin-left: 100pt; ">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="form-group" style="margin: 3% auto; width: 66%; display: flex; justify-content: center;">
        <button routerLink="/admin/addVenue" class="btn btn-rounded"
            style="border-radius:50px 50px 50px 50px; border: 2px solid #C5D8A4; background-color:#C5D8A4 ; font-family: Verdana, Geneva, Tahoma, sans-serif;">
            Add Course</button>
    </div>

    <div class="main-search-input-wrap" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <div class="main-search-input fl-wrap" style="margin-top: 5px; border: 2px solid #C5D8A4;">
            <div class="main-search-input-item"> <input type="text" [(ngModel)]="searchKeyword"
                    placeholder="Search Course..." /> </div>
            <button class="main-search-button" (click)="search()">Search</button>
        </div>
    </div>
    <br><br><br><br>
    <div *ngFor="let venue of venues | searchFilter:searchKeyword" class="card"
        style="width: 18rem; margin-left: 20px; margin-top: 20px; display: inline-block; font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <div class="card-body" style="background-color:#C5D8A4;">
            <p class="card-text" style="margin-left: 0%;">Venue Name:{{venue.venueName}}</p>
            <p class="card-text" style="margin-left: 0%;">Venue Capacity:{{venue.capacity}}</p>
            <p class="card-text" style="margin-left: 0%;">Event Name:{{venue.eventName}}</p>
            <p class="card-text" style="margin-left: 0%;">Event Location:{{venue.location}}</p>
            <p class="card-text" style="margin-left: 0%;">Venue Description:{{venue.description}}</p>
            <div style="display:flex; justify-content:space-between">
                <button (click)="deleteVenue(venue.id)" style="background-color: #BB9981;">ðŸ—‘</button>
                <button (click)="updateVenue (venue.id)"
                    style="background-color: #BB9981; opacity: .9;">&#9998;</button>
            </div>
        </div>
    </div>


</body>

</html>