<h3> View Venue Details</h3>
<div>
    <div>
        <label> <b>Venue Name: </b></label> {{venue.venueName}}
    </div>
    <div>
        <label> <b>Venue Image Url: </b></label> {{venue.venueImageUrl}}
    </div>
    <div>
        <label> <b>Venue Location: </b></label> {{venue.venueLocation}}
    </div>
    <div>
        <label> <b>Venue Description: </b></label> {{venue.venueDescription}}
    </div>
    <div>
        <label> <b>Venue Capacity: </b></label> {{venue.venueCapacity}}
    </div>
</div>

