<h3> Team Details</h3>

<div class="card" style="width: 18rem;">
    <div >
    <img src={{employee.urllink}} class="card-img-top" alt="..."/>
    </div>
    <div class="card-body">
      <h5 class="card-title">Team Details</h5>
      <div>
        <div>
            <label><b>Team Name:</b></label> {{employee.firstName}}
        </div>
        <div>
            <label><b>No of Players:</b></label> {{employee.lastName}}
        </div>
        <div>
            <label><b>Team Location:</b></label> {{employee.emailId}}
        </div>
    </div>
  </div>