<div class="col-md-6 offset-md-3">
    <h3>Update Venue</h3>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label>Venue Name</label>
            <input type="text" class="form-control" id ="venueName"
            [(ngModel)]="venue.venueName" name="venueName">
        </div>
    
        <div class="form-group">
            <label>Venue Image</label>
            <input type="text" class="form-control" id ="venueImageUrl"
            [(ngModel)]="venue.venueImageUrl" name="venueImageUrl">
        </div>
    
        <div class="form-group">
            <label>Venue Location</label>
            <input type="text" class="form-control" id ="venueLocation"
            [(ngModel)]="venue.venueLocation" name="venueLocation">
        </div>
    
        <div class="form-group">
            <label>Venue Description</label>
            <input type="text" class="form-control" id ="venueDescription"
            [(ngModel)]="venue.venueDescription" name="venueDescription">
        </div>
    
        <div class="form-group">
            <label>Venue Capacity</label>
            <input type="text" class="form-control" id ="venueCapacity"
            [(ngModel)]="venue.venueCapacity" name="venueCapacity">
        </div>
    
        <button class="btn btn-success" type="submit">Submit</button>
    
    </form>
    </div>

